<template>
    <base-modal :showDialog="showDialog" additionalClass="pa-0">
        <v-container class="pa-0" fluid grid-list-md>
            <v-stepper v-model="e1">
                <v-stepper-header>
                    <v-stepper-step :complete="e1 > 1" step="1">Basic Information</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step :complete="e1 > 2" step="2">Additional Information</v-stepper-step>
                </v-stepper-header>
                <v-stepper-items>
                    <v-stepper-content step="1">
                      <v-form ref="stepOne" v-model="valid" lazy-validation>
                        <v-layout row wrap>
                          <step-one 
                            :rules="rules"
                            @staffUpdated="onStaffUpdated">
                          </step-one>
                        </v-layout>
                        <v-layout row wrap>
                          <v-spacer></v-spacer>
                            <v-btn flat @click="onCloseModal">Cancel</v-btn>
                            <v-btn
                              color="primary"
                              dark
                              @click="onNextButtonClick">
                              Next
                            </v-btn>
                        </v-layout>
                      </v-form>
                    </v-stepper-content>
                    <v-stepper-content step="2">
                        <v-form ref="stepTwo" v-model="valid" lazy-validation>
                          <v-layout row wrap>
                            <step-two 
                              :rules="rules"
                              @staffUpdated="onStaffUpdated">
                            </step-two>
                          </v-layout>
                          <v-layout row wrap>
                            <v-spacer></v-spacer>
                            <v-btn flat @click="onCloseModal">Cancel</v-btn>
                            <v-btn
                                :loading="loading"
                                :disabled="loading"
                                color="primary"
                                dark
                                @click="onSaveButtonClick">
                                Save
                            </v-btn>
                          </v-layout>
                        </v-form>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </v-container>
    </base-modal>
</template>

<script>
import BaseModal from "../../ui/BaseModal";
import MaterialTimeSelect from "../../ui/MaterialTimeSelect";
import StepOne from "./steps/StepOne";
import StepTwo from "./steps/StepTwo";

export default {
  name: "addEmployeeModal",
  components: {
    MaterialTimeSelect,
    BaseModal,
    StepOne,
    StepTwo
  },
  props: {
    employees: Array,
    sections: Array,
    loading: Boolean
  },
  data() {
    return {
      showDialog: true,
      e1: 1,
      valid: true,
      newStaff: {},
      rules: {
        name: [v => !!v || "Name is required"],
        email: [v => !!v || "Email is required"]
      }
    };
  },
  computed: {
    organization () {
      return this.$store.getters.organization
    }
  },
  methods: {
    onNextButtonClick() {
      if (this.$refs.stepOne.validate()) {
        this.e1++;
      }
    },
    onStaffUpdated(partialStaff) {
      this.newStaff = {
        organization: this.organization.name,
        ...this.newStaff,
        ...partialStaff
      };
    },
    onSaveButtonClick() {
      if (this.$refs.stepTwo.validate()) {
        this.$emit("employeeAdded", this.newStaff);
      }
    },
    onCloseModal() {
      this.$emit("closed");
    }
  }
};
</script>
