<template>
    <base-modal :showDialog="true" title="Complete Registration">
        <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12 v-if="invitedUser">
                Welcome {{ invitedUser.name }}! Set your password and complete your registration
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-layout wrap>
                    <v-flex xs12>
                        <v-text-field
                          v-model="user.password"
                          label="Password"
                          type="password"
                          :rules="[rules.required]">
                        </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-flex>
            </v-layout>
        </v-container>
        <template slot="actions">
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="onConfirmButtonClick">Save</v-btn>
        </template>
    </base-modal>
</template>

<script>
import BaseModal from "../ui/BaseModal";

export default {
  name: "acceptInvitationModal",
  components: {
    BaseModal
  },
  props:{
    invitedUser: Object
  },
  data() {
    return {
      user: {
        password: ''
      },
      valid: true,
      rules: {
        required: v => !!v || 'This field is required',
        email: v => /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Please use a valid email'
      }
    }
  },
  mounted () {
    // this.$auth.retrieveInvitation(this.invitationId)
    //   .then((user) => this.invitedUser = user)
  },
  methods: {
    onConfirmButtonClick() {
      const userData = {
        ...this.invitedUser,
        password: this.user.password
      }

      console.log("user: ", userData)

      userData.invitationAccepted = true

      if (this.$refs.form.validate()) {
        this.$emit("confirm", userData);
      }
    }
  }
};
</script>