<template>
    <base-modal :showDialog="showDialog" title="Add Shift">
        <v-container grid-list-md>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout wrap>
                <v-flex xs12>
                  <v-select
                    v-if="currentUser.admin || currentUser.manager"
                    :items="employees.map(employee => employee.name)"
                    v-model="selectedEmployee"
                    :append-icon="null"
                    :rules="rules.employee"
                    label="Employee"
                    required
                    prepend-icon="person"
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-menu
                    ref="startDateMenu"
                    :close-on-content-click="false"
                    v-model="dateTime.startDate.show"
                    :nudge-right="40"
                    :return-value.sync="dateTime.startDate.value"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="dateTime.startDate.value"
                      :rules="rules.date"
                      label="Vacation start"
                      prepend-icon="event"
                      readonly
                    ></v-text-field>
                    <v-date-picker required v-model="dateTime.startDate.value" @input="$refs.startDateMenu.save(dateTime.startDate.value)"></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12>
                  <v-menu
                    ref="endDateMenu"
                    :close-on-content-click="false"
                    v-model="dateTime.endDate.show"
                    :nudge-right="40"
                    :return-value.sync="dateTime.endDate.value"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      v-model="dateTime.endDate.value"
                      :rules="rules.date"
                      label="Vacation end"
                      prepend-icon="event"
                      readonly
                    ></v-text-field>
                    <v-date-picker required v-model="dateTime.endDate.value" @input="$refs.endDateMenu.save(dateTime.endDate.value)"></v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
            </v-form>
        </v-container>
        <template slot="actions">
          <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="onCloseModal">Close</v-btn>
            <v-btn color="blue darken-1" flat @click.native="onSaveButtonPress">Save</v-btn>
        </template>
    </base-modal>
</template>

<script>
import BaseModal from '../ui/BaseModal'
import MaterialTimeSelect from '../ui/MaterialTimeSelect'

export default {
  name: 'createVacationModal',
  components: {
    MaterialTimeSelect,
    BaseModal
  },
  props: {
    employees: Array,
  },
  computed: {
    currentUser () {
      return this.$store.getters.user
    },
    organization () {
      return this.$store.getters.organization
    },
    team () {
      return this.organization.teams.find((team) => team.name === "Vacation")
    }
  },
  data () {
    return {
      rules: {
        employee: [
          v => !!v || 'Employee is required'
        ],
        section: [
          v => !!v || 'Section is required'
        ],
        date: [
          v => !!v || 'Date is required'
        ],
        time: [
          v => !!v || 'Time is required'
        ]
      },
      valid: true,
      showDialog: true,
      selectedEmployee: null,
      selectedSection: null,
      dateTime: {
        endDate: {
          value: null,
          show: false
        },
        startDate: {
          value: null,
          show: false
        }
      }
    }
  },
  methods: {
    onCloseModal () {
      this.$emit('closed')
    },
    onSaveButtonPress () {
      if (this.$refs.form.validate()) {
        const vacations = []
        for (let m = moment(this.dateTime.startDate.value); m.diff(this.dateTime.endDate.value, 'days') <= 0; m.add(1, 'days')) {
          const employee = this.employees.find((e) => e.name == this.selectedEmployee? this.selectedEmployee : this.currentUser.name)
          vacations.push({
            employee,
            team: this.team,
            date: new Date (m.format('YYYY-MM-DD')),
            organization: this.organization.name,
            time: "Whole day"
          })
        }
        this.$emit('vacationCreated', vacations)
      }
    },
    setStartTime (time) {
      this.dateTime.startTime = time
    },
    setEndTime (time) {
      this.dateTime.endTime = time
    }
  }
}
</script>

<style>

</style>
