<template>
    <base-modal :showDialog="showDialog" title="Add Shift">
        <v-container grid-list-md class="custom-modal">
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout wrap>
                <v-flex xs12>
                  <v-select
                    :items="employees.map(employee => employee.name)"
                    v-model="selectedEmployee"
                    :rules="rules.employee"
                    label="Employee"
                    required
                    prepend-icon="person"
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    :items="sectionsWithoutVacation.map(section => section.name)"
                    v-model="selectedSection"
                    :rules="rules.section"
                    prepend-icon="person"
                    label="Section"
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                    <v-menu
                      ref="dateMenu"
                      :close-on-content-click="false"
                      v-model="dateTime.date.show"
                      :nudge-right="40"
                      :return-value.sync="dateTime.date.value"
                      lazy
                      absolute
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px">
                        <v-combobox
                        slot="activator"
                        v-model="dateTime.date.value"
                        multiple
                        chips
                        small-chips
                        label="Shift dates"
                        prepend-icon="event"
                        readonly
                        ></v-combobox>
                        <v-date-picker v-model="dateTime.date.value" multiple no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="dateTime.date.show = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.dateMenu.save(dateTime.date.value)">OK</v-btn>
                        </v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm6>
                  <material-time-select
                    v-model="dateTime.startTime"
                    :rules="rules.time"
                    :options="{ placeholder: 'Start time'}"
                    @timeChanged="setStartTime">
                  </material-time-select>
                </v-flex>
                <v-flex xs12 sm6>
                  <material-time-select
                    v-model="dateTime.endTime"
                    :rules="rules.time"
                    @timeChanged="setEndTime"
                    :options="{ min_time: dateTime.startTime, placeholder:'End time' }">
                  </material-time-select>
                </v-flex>
              </v-layout>
            </v-form>
        </v-container>
        <template slot="actions">
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="onCloseModal">Close</v-btn>
            <v-btn color="blue darken-1" flat @click.native="onSaveButtonPress">Save</v-btn>
        </template>
    </base-modal>
</template>

<script>
import BaseModal from '../ui/BaseModal'
import MaterialTimeSelect from '../ui/MaterialTimeSelect'

export default {
  name: 'createShiftModal',
  components: {
    MaterialTimeSelect,
    BaseModal
  },
  props: {
    employees: Array,
    sections: Array
  },
  computed: {
    sectionsWithoutVacation () {
      return this.sections.filter(section => section.name != "Vacation")
    }
  },
  data () {
    return {
      rules: {
        employee: [
          v => !!v || 'Employee is required'
        ],
        section: [
          v => !!v || 'Section is required'
        ],
        date: [
          v => !!v || 'Date is required'
        ],
        time: [
          v => !!v || 'Time is required'
        ]
      },
      valid: true,
      showDialog: true,
      selectedEmployee: null,
      selectedSection: null,
      dateTime: {
        date: {
          value: [],
          show: false
        },
        startTime: '',
        endTime: '',
        time: {
          value: null,
          show: false
        }
      }
    }
  },
  methods: {
    onCloseModal () {
      this.$emit('closed')
    },
    onSaveButtonPress () {
      if (this.$refs.form.validate()) {
        const shifts = this.dateTime.date.value.map((date) => {
          return {
            employee: this.employees.find((employee) => employee.name === this.selectedEmployee),
            team: this.sections.find((section) => section.name === this.selectedSection),
            date: new Date(date),
            startTime: this.dateTime.startTime,
            endTime: this.dateTime.endTime,
            organization: this.$store.getters.organization.name
          }
        })
        this.$emit('shiftCreated', shifts)
      }
    },
    setStartTime (time) {
      this.dateTime.startTime = time
    },
    setEndTime (time) {
      this.dateTime.endTime = time
    }
  }
}
</script>

<style>
    .custom-modal .v-input__slot .v-menu {
        position: absolute !important;
    }
</style>
