<template>
  <base-modal :showDialog="true" title="Are you sure?">
    <v-container grid-list-md text-xs-center>
      The action is irreversible and all the data will be lost
    </v-container>
    <template slot="actions">
        <v-spacer></v-spacer>
        <v-btn flat="flat" @click="onCloseModal">
          Cancel
        </v-btn>
        <v-btn color="red darken-1" flat="flat" @click="onConfirmButtonClicked">
          Delete
        </v-btn>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from '@/components/ui/BaseModal'

export default {
  name: 'deleteConfirmationModal',
  components: {
    BaseModal
  },
  data () {
    return {
      showDialog: true
    }
  },
  methods: {
    onConfirmButtonClicked () {
      this.$emit('confirm')
    },
    onCloseModal () {
      this.$emit('closed')
    }
  }
}
</script>
