<template>
    <base-modal :showDialog="showDialog" title="Add Shift">
        <v-container grid-list-md>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout wrap>
                <v-flex xs12>
                    <v-text-field
                        v-model="updatedEmployee.name"
                        label="Name"
                        :rules="rules.name">
                    </v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        label="Email"
                        v-model="updatedEmployee.email"
                        :rules="rules.email">
                    </v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="updatedEmployee.address"
                        label="Address"
                        :rules="rules.name">
                    </v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        label="Contract"
                        v-model="updatedEmployee.contract"
                        :rules="rules.name">
                    </v-text-field>
                </v-flex>
                <v-flex xs12 sm6>            
                </v-flex>
              </v-layout>
            </v-form>
        </v-container>
        <template slot="actions">
            <v-btn color="blue darken-1" flat @click.native="onCloseModal">Close</v-btn>
            <v-btn color="blue darken-1" flat @click.native="onSaveButtonClick">Save</v-btn>
        </template>
    </base-modal>
</template>

<script>
import BaseModal from '../ui/BaseModal'

export default {
  name: 'editStaffModal',
  components: {
    BaseModal,
  },
  props: {  
    employee: Object,
  },
  data () {
    return {
      updatedEmployee: {},
      showDialog: true,
      valid: true,
      rules: {
        name: [
          v => !!v || 'Name is required'
        ],
        email: [
          v => !!v || 'Email is required'
        ]
      }
    }
  },
  mounted () {
    this.updatedEmployee = this.employee
  },    
  methods: {
    onSaveButtonClick () {
        if(this.$refs.form.validate()){
            this.$emit('employeeUpdated', this.updatedEmployee)
        }
    },
    onCloseModal () {
      this.$emit('modalClosed')
    }
  }
}
</script>
