<template>
  <base-modal :showDialog="true" :title="title">
    <v-container grid-list-md>
      {{ subtitle }}
    </v-container>
    <template slot="actions">
        <v-spacer></v-spacer>
        <v-btn flat="flat" @click="onCloseModal">
          Cancel
        </v-btn>
        <v-btn color="red darken-1" flat="flat" @click="onConfirmButtonClicked">
          Publish
        </v-btn>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from '@/components/ui/BaseModal'
export default {
  name: 'deleteConfirmationModal',
  components: {
    BaseModal
  },
  props: {
    title: String,
    subtitle: String
  },
  data () {
    return {
      showDialog: true
    }
  },
  methods: {
    onConfirmButtonClicked () {
      this.$emit('confirm')
    },
    onCloseModal () {
      this.$emit('closed')
    }
  }
}
</script>
