<template>
    <base-modal :showDialog="true" title="Signup">
        <v-container grid-list-md>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout wrap>
                <v-flex xs12>
                    <v-text-field
                        v-model="user.organization"
                        label="Organization"
                        :rules="[rules.required]">
                    </v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="user.email"
                        label="Email"
                        :rules="[rules.email, rules.required]">
                    </v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field
                        v-model="user.password"
                        label="Password"
                        type="password"
                        :rules="[rules.required]">
                    </v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
            <v-layout row wrap>
            <v-flex xs12>
                <v-alert :value="error != null" type="error" outline>
                  {{ error }}
                </v-alert>
              </v-flex>
            </v-layout>
        </v-container>
        <template slot="actions">
            <router-link :style="{ cursor: 'pointer'}" tag="span" class="pl-3 caption" to="/login">
              I already have an account
            </router-link>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="onCloseModal">Close</v-btn>
            <v-btn color="blue darken-1" flat @click.native="onConfirmButtonClick">Sign Up</v-btn>
        </template>
    </base-modal>
</template>

<script>
import BaseModal from "../ui/BaseModal";

export default {
  name: "signupModal",
  components: {
    BaseModal
  },
  props: {
    error: String
  },
  data() {
    return {
      user: {
        organization: '',
        email: '',
        password: '',
        role: 'admin'
      },
      valid: true,
      rules: {
        required: v => !!v || 'This field is required',
        email: v => /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Please use a valid email'
      }
    };
  },
  mounted() {
    this.updatedEmployee = this.employee;
  },
  methods: {
    onConfirmButtonClick() {
      if (this.$refs.form.validate()) {
        this.$emit("confirm", this.user);
      }
    },
    onCloseModal() {
      this.$emit("modalClosed");
    }
  }
};
</script>
