<template>
  <div class="custom-overlay" @click="$emit('closed')">
    <v-container @click="onChildClick" grid-list-xs>
      <d-player
        :options="options"
        @play="playing"
        ref="player">
      </d-player>
    </v-container>
  </div>
</template>

<script>
import VueDPlayer from 'vue-dplayer'
import 'vue-dplayer/dist/vue-dplayer.css'

export default {
  components: {
    'd-player': VueDPlayer
  },
  props: {
    videoUrl: String
  },
  computed: {
    user () {
      return this.$store.getters.user
    },
    options () {
      return {
        video: {
          url: this.videoUrl,
          // pic: 'http://static.smartisanos.cn/pr/img/video/video_03_cc87ce5bdb.jpg'
        },
        autoplay: false,
        contextmenu: [
          {
            text: 'Welcome to Toorno',
            link: 'https://github.com/MoePlayer/vue-dplayer'
          }
        ]
      }
    }
  },
  methods: {
    onChildClick (event) {
      console.log('child clicked')
      console.log(event)
      event.stopPropagation();
    },
    playing() {
      mixpanel.track('User started onboarding video', { email: this.user.email, organization: this.user.organization })
    }
  }
}
</script>

<style scoped>
  .v-dialog {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12) !important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12) !important;
  }
  .custom-overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 16;
  }

  .custom-overlay * {
    position: relative;
    z-index: 17;
  }
  .v-overlay {
    z-index: 12 !important;
  }
</style>
