<template>
    <v-navigation-drawer
      v-model="showDrawer"
      absolute
      hide-overlay
      app>
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="@/assets/avatar.png">
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title v-if="currentUser"> {{ currentUser.name }} </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-divider />
      <v-list class="pt-0" dense>
        <template v-for="(item, index) in items">
          <v-list-tile :key="item.title" @click.prevent="onMenuItemClick(item)" class="drawer-tile" avatar>
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              <v-list-tile-sub-title v-if="item.subtitle">{{ item.subtitle }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider :key="index" />
        </template>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
  name: 'side_drawer',
  props: {
    drawer: Boolean,
    items: Array
  },
  computed: {
    currentUser () {
      return this.$store.getters.user
    },
    showDrawer: {
      get () {
        return this.drawer
      },
      set (val) {
        if (!val) {
          this.$emit('drawerClosed')
        }
        return val
      }
    }
  },
  methods: {
    onMenuItemClick (item) {
      if (item.url) {
        this.$router.push(item.url)
      } else {
        this.$emit(item.event)
      }
    }
  }
}
</script>

<style>
  .drawer-tile .v-list__tile {
    padding: 15px;
    height: auto !important;
  }
</style>
