<template>
    <kalendar :configuration='config' :appointments='shifts' ref='calendar-component'>
        <div slot='details-card' slot-scope='{appointments_props}'>
          <shift-card 
            v-for='(appointment, index) in appointments_props.appointments'
            :appointment="appointment"
            :index="index"
            :appointmentsLength="appointments_props.appointments.length"
            :key='index'
            v-if='appointment.date == appointments_props.day.date && appointment.section == appointments_props.section.name'
            @click="onCardClicked"/>
        </div>
    </kalendar>
</template>

<script>
import { Kalendar } from 'staff-kalendar/dist/staff-kalendar.common.js'
import 'staff-kalendar/dist/staff-kalendar.css'
import ShiftCard from './ShiftCard'

export default {
  components: {
    Kalendar,
    ShiftCard
  },
  props: {
    shifts: Array,
    config: Object
  },
  methods: {
    onCardClicked (shift) {
      this.$emit('shiftClicked', shift)
    }
  }
}
</script>

<style>
  .ul.kalendar-day{
    justify-content: space-between !important;
  }

  .action-required {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
  }

  .v-badge__badge {
    webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12) !important;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12) !important;
    cursor: pointer;
  }
</style>
