<template>
  <v-card
    style="cursor: pointer"
    :class="{
      'elevation-3': true,
      'appointment-card--last' : index == appointmentsLength.length - 1, 
      'appointment-card': index < appointmentsLength.length - 1,
      [`${appointment.color} lighten-3`]: true
    }"
    @click.native='onClick'>
    <v-tooltip 
      style="position: absolute; right: 0; top: -15px;"
      top>
      <v-badge
        slot="activator"
        v-if="actionRequired(appointment)"
        color="amber"
        overlap
        class="elevation-5"
        right>
        <strong class="black--text" slot="badge"> ! </strong>
      </v-badge>
      <span> {{ tooltipMessage }} </span>
    </v-tooltip>
    <v-card-title class="justify-center pa-2">
      <strong> {{ appointment.text }} </strong>
    </v-card-title>
    <v-divider class="mx-3"/>
    <v-card-text class="text-xs-center pa-2">
      {{ appointment.time }}
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'shiftCard',
  data () {
    return {
      tooltipMessage: ''
    }
  },
  props: {
    appointment: Object,
    index: Number,
    appointmentsLength: Number
  },
  mounted () {
    console.log(this.appointmentsLength)
  },
  methods: {
    actionRequired (appointment) {
      const userIsAdmin = this.$store.getters.user.admin ? true : false
      const today = moment()
      const appointmentDate = moment(`${appointment.date} ${appointment.time.split('-')[1].trim()}`)

      if (userIsAdmin) {
        if (!appointment.published) {
          if (appointment.section == 'Vacation') {
            this.tooltipMessage = 'You should confirm this vacation request'
          } else {
            this.tooltipMessage = 'You have to publish this shift'
          }
          return true
        }
        return false
      } else {
        if (moment(appointmentDate).isBefore(today) && !appointment.employeeConfirmed) {
          this.tooltipMessage = 'You have to confirm your hours'
        }
        return moment(appointmentDate).isBefore(today) && !appointment.employeeConfirmed
      }
    },
    onClick () {
      console.log('click')
      this.$emit('click', this.appointment)
    }
  }
}
</script>

<style>

</style>
