<template>
  <v-container fluid grid-list-xs class="pt-0">
    <v-layout v-if="organization" row wrap>
      <v-flex xs12>
        <calendar
          v-if="organization.teams.length > 0"
          :config="calendarConfig" 
          :shifts="appointments" 
          @shiftClicked="onShiftClicked"/>
        
        <template v-else>
          <h2> It looks like you didn't add any team yet </h2>
        </template>

        <!-- Modals -->
        <add-employee-modal
          v-if="showAddEmployeeModal"
          @closed="showAddEmployeeModal = false"
          @employeeAdded="onEmployeeAdded"/>

        <create-shift-modal
          v-if="showCreateShiftModal"
          :sections="organization.teams"
          :employees="employees"
          @closed="showCreateShiftModal = false"
          @shiftCreated="onShiftCreated"/>

        <edit-shift-modal 
          v-if="showEditShiftModal"
          @closed="onEditShiftModalClosed"
          :selectedShift="selectedShift"
          :fromCalendar="true"/>

        <create-vacation-modal
          v-if="showCreateVacationModal"
          @closed="showCreateVacationModal = false"
          :employees="employees"
          @vacationCreated="onVacationCreated"/>

        <!-- Floating Button -->
        <!-- <floating-button @click="onButtonClick"/> -->
      </v-flex>
    </v-layout>
    <v-layout v-else fill-height justify-center row wrap>
      <v-flex xs12 d-flex>
        <v-progress-circular indeterminate color="primary" class="mt-5"/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Calendar from '../components/calendar/Calendar'
import FloatingButton from '@/components/ui/FloatingButton'
import AddEmployeeModal from '@/components/modals/addEmployeeModal/AddEmployeeModal'
import EditShiftModal from '@/components/modals/editShiftModal/EditShiftModal'
import CreateShiftModal from '@/components/modals/CreateShiftModal'
import CreateVacationModal from '@/components/modals/CreateVacationModal'
import { createInvitation } from '@/api/invitationService'

export default {
  name: 'calendarView',
  components: {
    Calendar,
    FloatingButton,
    AddEmployeeModal,
    CreateShiftModal,
    CreateVacationModal,
    EditShiftModal
  },
  data: () => ({
    showAddEmployeeModal: false,
    showCreateShiftModal: false,
    showEditShiftModal: false,
    showEditVacationModal: false,
    showCreateVacationModal: false,
    selectedShift: null,
  }),
  computed: {
    setupComplete () {
      return this.$route.query.setupComplete
    },
    employees () {
      return this.$store.getters.employees || []
    },
    currentUser () {
      return this.$store.getters.user
    },
    shifts () {
      return this.$store.getters.shifts
    },
    vacations () {
      return this.$store.getters.vacations
    },
    appointments () {
      const shifts = this.shifts.map((shift) => ({
        text: shift.employee.name,
        section: shift.team.name,
        color: shift.team.color.split(' ')[0],
        published: shift.published,
        employeeConfirmed: shift.employeeConfirmed,
        date: shift.date,
        time: `${shift.startTime} - ${shift.endTime}`
      }))

      const vacations = this.vacations.map((vacation) => ({
        text: vacation.employee.name,
        section: "Vacation",
        color: vacation.team.color.split(' ')[0],
        published: vacation.confirmed,
        employeeConfirmed: true,
        date: vacation.date,
        time: "09:00 - 18:00"
      }))

      return vacations.concat(shifts)
    },
    organization () {
      return this.$store.getters.organization
    },
    calendarConfig () {
      return {
        split_value: 20,
        style: 'material_design',
        sections: this.organization ? this.organization.teams : [],
        appointments: this.appointments,
        view_type: 'Month',
        scrollToNow: true
      }
    }
  },
  mounted () {
    console.log(this.setupComplete)
  },
  watch: {
    organization (value) {
      if (value && !value.setupComplete) {
        this.$router.replace('/setup')
      }
    },
    setupComplete (value) {
      if (value) {
        console.log('didaddadado')
      }
    }
  },
  methods: {
    onButtonClick (event) {
      switch (event) {
        case 'addEmployee':
          this.showAddEmployeeModal = true
          break
        case 'createShift':
          this.showCreateShiftModal = true
          break
        case 'addVacation':
          this.showCreateVacationModal = true
          break
      }
    },
    onEmployeeAdded (employee) {
      createInvitation([employee])
    },
    onShiftCreated (shifts) {
      this.$store.dispatch('addShifts', shifts)
      this.showCreateShiftModal = false
    },
    onShiftClicked (shift) {
      this.selectedShift = shift
      if (shift.section == 'Vacation'){
        this.showEditVacationModal = true
      } else {
        this.showEditShiftModal = true
      }
    },
    onEditShiftModalClosed () {
      this.showEditShiftModal = false
      this.selectedShift = null
    },
    onVacationCreated (vacation) {
      console.log(vacation)
      this.$store.dispatch('addVacation', vacation)
    }
  }
}
</script>

<style>
  .wrapping-all, .sticky-top, .week-navigator{
      background-color: transparent !important;
  }
</style>
