<template>
  <base-modal :showDialog="true" title="Edit Shift">
    <v-container grid-list-md class="custom-modal">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-layout wrap>
          <v-flex xs12 class="subheading">
            <strong> Employee: </strong> {{ selectedEmployee }}
          </v-flex>
          <v-flex xs12 class="subheading">
            <strong> Date: </strong> {{ dateTime.date.value }}
          </v-flex>
          <v-flex xs12>
            <v-select
              :items="sectionsWithoutVacation.map(section => section.name)"
              v-model="selectedSection"
              :rules="rules.section"
              prepend-icon="group_work"
              label="Team"
            ></v-select>
          </v-flex>
          <v-flex xs12 sm6>
            <material-time-select
              v-model="dateTime.startTime"
              :time="dateTime.startTime"
              :rules="rules.time"
              :options="{ placeholder: 'Start time'}"
              @timeChanged="setStartTime">
            </material-time-select>
          </v-flex>
          <v-flex xs12 sm6>
            <material-time-select
              v-model="dateTime.endTime"
              :time="dateTime.endTime"
              :rules="rules.time"
              @timeChanged="setEndTime"
              :options="{ min_time: dateTime.startTime, placeholder:'End time' }">
            </material-time-select>
          </v-flex>
          <v-flex xs12 v-if="$store.getters.user.admin">
            <v-select
              :items="['Private', 'Published']"
              v-model="published"
              label="Visibility"
              prepend-icon="visibility"/>
          </v-flex>
        </v-layout>
      </v-form>
    </v-container>
    <template slot="actions">
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click.native="onCloseModal">Close</v-btn>
      <v-btn color="blue darken-1" flat @click.native="onSaveButtonPress"> Save </v-btn>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from "../../ui/BaseModal"
import MaterialTimeSelect from '../../ui/MaterialTimeSelect'

export default {
  name: 'editShiftAdminView',
  components: {
    MaterialTimeSelect,
    BaseModal
  },
  props: {
    selectedShift: Object,
    sections: Array,
    employees: Array,
    fromCalendar: {
      type: Boolean,
      optional: true
    }
  },
  data () {
    return {
      selectedEmployee: '',
      selectedSection: '',
      published: '',
      dateTime: {
        date: {
          value: '',
          show: false
        },
        startTime: '',
        endTime: ''
      },
      rules: {
        employee: [
          v => !!v || 'Employee is required'
        ],
        section: [
          v => !!v || 'Section is required'
        ],
        date: [
          v => !!v || 'Date is required'
        ],
        time: [
          v => !!v || 'Time is required'
        ]
      },
      valid: true
    }
  },
  computed: {
    sectionsWithoutVacation () {
      return this.sections.filter(section => section.name != "Vacation")
    }
  },
  mounted () {
    if (this.fromCalendar) {
      this.selectedEmployee = this.selectedShift.text
      this.selectedSection = this.selectedShift.section
      this.dateTime.date.value = this.selectedShift.date
      this.dateTime.startTime = this.selectedShift.time.split('-')[0].trim()
      this.dateTime.endTime = this.selectedShift.time.split('-')[1].trim()
      this.published = this.selectedShift.published ? 'Published' : 'Private'
    } else {
      this.selectedEmployee = this.selectedShift.employee.name
      this.selectedSection = this.selectedShift.team.name
      this.dateTime.date.value = this.selectedShift.date
      this.dateTime.startTime = this.selectedShift.startTime
      this.dateTime.endTime = this.selectedShift.endTime
      this.published = this.selectedShift.published ? 'Published' : 'Private'
    }
  },
  methods: {
    setStartTime (time) {
      this.dateTime.startTime = time
    },
    setEndTime (time) {
      this.dateTime.endTime = time
    },
    onCloseModal() {
      this.$emit("closedButtonClicked");
    },
    onSaveButtonPress() {
      const employee = this.$store.getters.employees.find(e => e.name == this.selectedEmployee)
      const updatedShift = {
        employee,
        team: this.$store.getters.organization.teams.find(t => t.name == this.selectedSection),
        date: new Date(this.dateTime.date.value),
        startTime: this.dateTime.startTime,
        endTime: this.dateTime.endTime,
        id: `${employee.uid}_${moment(this.dateTime.date.value).format("YYYY-MM-DD")}`,
        published: this.$store.getters.user.manager? false : this.published == "Published" ? true : false
      }
      this.$store.dispatch('updateShift', updatedShift)
        .then(() => this.$emit("closedButtonClicked"))
    },
  }
}
</script>
