<template>
    <base-modal :showDialog="showDialog" title="Edit Shift">
        <!-- <v-container grid-list-md class="custom-modal"> -->
            <admin-view
              v-if="currentUser.admin"
              :selectedShift="selectedShift" 
              :sections="sections"
              :employees="employees"
              :fromCalendar="fromCalendar"
              @closedButtonClicked="onClosedButtonClick"/>

            <employee-view 
              v-else
              :selectedShift="selectedShift" 
              :sections="sections"
              :employees="employees"
              :fromCalendar="fromCalendar"
              @closedButtonClicked="onClosedButtonClick"/>
    </base-modal>
</template>

<script>
import BaseModal from "../../ui/BaseModal"
import AdminView from './AdminView'
import EmployeeView from './EmployeeView'

export default {
  name: "editShiftModal",
  components: {
    BaseModal,
    AdminView,
    EmployeeView
  },
  props: {
    selectedShift: Object,
    fromCalendar: Boolean
  },
  computed: {
    employees () {
      return this.$store.getters.employees || []
    },
    sections () {
      return this.$store.getters.organization.teams
    },
    currentUser () {
      return this.$store.getters.user
    },
    cta () {
      if (this.currentUser.admin) {
        return "Publish"
      }

      return "Save"
    },
    sectionsWithoutVacation() {
      return this.sections.filter(section => section.name != "Vacation");
    }
  },
  data() {
    return {
      rules: {
        employee: [v => !!v || "Employee is required"],
        section: [v => !!v || "Section is required"],
        date: [v => !!v || "Date is required"],
        time: [v => !!v || "Time is required"]
      },
      valid: true,
      showDialog: true,
      selectedEmployee: null,
      selectedSection: null,
      dateTime: {
        date: {
          value: [],
          show: false
        },
        startTime: "",
        endTime: "",
        time: {
          value: null,
          show: false
        }
      }
    };
  },
  methods: {
    onClosedButtonClick() {
      this.$emit("closed");
    },
    onSaveButtonPress() {
      if (this.$refs.form.validate()) {
        const shifts = this.dateTime.date.value.map(date => {
          return {
            employee: this.employees.find(
              employee => employee.name === this.selectedEmployee
            ),
            team: this.sections.find(
              section => section.name === this.selectedSection
            ),
            date,
            startTime: this.dateTime.startTime,
            endTime: this.dateTime.endTime,
            organization: this.$store.getters.organization.name
          };
        });
        this.$emit("shiftCreated", shifts);
      }
    },
    setStartTime(time) {
      this.dateTime.startTime = time;
    },
    setEndTime(time) {
      this.dateTime.endTime = time;
    }
  }
};
</script>

<style>
.custom-modal .v-input__slot .v-menu {
  position: absolute !important;
}
</style>
