<template>
  <base-modal :showDialog="true" :title="employeeInputRequired? 'Confirm your hours' : 'Shift details'">
    <v-container v-if="employeeInputRequired" grid-list-md class="custom-modal">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-layout wrap>
          <v-flex xs12 class="subheading">
            <strong> Employee: </strong> {{ selectedEmployee }}
          </v-flex>
          <v-flex xs12 class="subheading">
            <strong> Team: </strong> {{ selectedSection }}
          </v-flex>
          <v-flex xs12 class="subheading">
            <strong> Date: </strong> {{ dateTime.date.value }}
          </v-flex>
          <v-flex xs12 sm6>
            <material-time-select
              v-model="dateTime.startTime"
              :time="dateTime.startTime"
              :rules="rules.time"
              :options="{ placeholder: 'Start time'}"
              @timeChanged="setStartTime">
            </material-time-select>
          </v-flex>
          <v-flex xs12 sm6>
            <material-time-select
              v-model="dateTime.endTime"
              :time="dateTime.endTime"
              :rules="rules.time"
              @timeChanged="setEndTime"
              :options="{ min_time: dateTime.startTime, placeholder:'End time' }">
            </material-time-select>
          </v-flex>
        </v-layout>
      </v-form>
    </v-container>
    <v-container v-else grid-list-md class="custom-modal">
      <v-layout wrap>
        <v-flex xs12 class="subheading">
          <strong> Employee: </strong> {{ selectedEmployee }}
        </v-flex>
        <v-flex xs12 class="subheading">
          <strong> Team: </strong> {{ selectedSection }}
        </v-flex>
        <v-flex xs12 class="subheading">
          <strong> Date: </strong> {{ dateTime.date.value }}
        </v-flex>
        <v-flex xs12 class="subheading">
          <strong> Start Time: </strong> {{ dateTime.startTime }}
        </v-flex>
        <v-flex xs12 class="subheading">
          <strong> End Time: </strong> {{ dateTime.endTime }}
        </v-flex>
      </v-layout>
    </v-container>
    <template slot="actions">
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" flat @click.native="onCloseModal">Close</v-btn>
      <v-btn color="blue darken-1" flat @click.native="onSaveButtonPress"> Save </v-btn>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from "../../ui/BaseModal"
import MaterialTimeSelect from '../../ui/MaterialTimeSelect'

export default {
  name: 'editShiftAdminView',
  components: {
    MaterialTimeSelect,
    BaseModal
  },
  props: {
    selectedShift: Object,
    sections: Array,
    employees: Array
  },
  data () {
    return {
      selectedEmployee: '',
      selectedSection: '',
      published: '',
      dateTime: {
        date: {
          value: '',
          show: false
        },
        startTime: '',
        endTime: ''
      },
      rules: {
        employee: [
          v => !!v || 'Employee is required'
        ],
        section: [
          v => !!v || 'Section is required'
        ],
        date: [
          v => !!v || 'Date is required'
        ],
        time: [
          v => !!v || 'Time is required'
        ]
      },
      valid: true
    }
  },
  computed: {
    employeeInputRequired () {
      const today = moment()
      const appointmentDate = moment(`${this.selectedShift.date} ${this.selectedShift.time.split('-')[1].trim()}`)

      return moment(appointmentDate).isBefore(today)
    },
    sectionsWithoutVacation () {
      return this.sections.filter(section => section.name != "Vacation")
    }
  },
  mounted () {
    this.selectedEmployee = this.selectedShift.text
    this.selectedSection = this.selectedShift.section
    this.dateTime.date.value = this.selectedShift.date
    this.dateTime.startTime = this.selectedShift.time.split('-')[0].trim()
    this.dateTime.endTime = this.selectedShift.time.split('-')[1].trim()
    this.published = this.selectedShift.published ? 'Published' : 'Private'
  },
  methods: {
    setStartTime (time) {
      this.dateTime.startTime = time
    },
    setEndTime (time) {
      this.dateTime.endTime = time
    },
    onCloseModal() {
      this.$emit("closedButtonClicked");
    },
    onSaveButtonPress() {  
      const employee = this.$store.getters.user
      const updatedShift = {
        date: new Date(this.dateTime.date.value),
        employee,
        startTime: this.dateTime.startTime,
        endTime: this.dateTime.endTime,
        id: `${employee.uid}_${moment(this.dateTime.date.value).format("YYYY-MM-DD")}`,
        employeeConfirmed: true
      }

      this.$store.dispatch('updateShift', updatedShift)
        .then(() => this.$emit("closedButtonClicked"))
    },
  }
}
</script>
