<template>
  <v-form>
    <v-container grid-list-xs pl-0>
      <v-layout row wrap v-if="employees.length > 0">
          <v-chip 
            v-for="(employee, index) in employees" 
            :key="index" 
            close 
            style="cursor: pointer;"
            @input="employees.splice(index, 1)">
            {{ employee.name }}
          </v-chip>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card tile class="ransparent elevation-0">
            <v-card-text>
              <v-text-field label="Employee Name" v-model="newEmployee.name" />
              <v-text-field label="Employee Email" v-model="newEmployee.email" />
              <v-checkbox label="This employee is a manager" v-model="newEmployee.manager" />
              <v-btn color="success ml-0" @click="onAddEmployee">Add Employee</v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: 'addEmployeesStep',
  props: {
    organization: Object
  },
  computed: {
    user () {
      return this.$store.getters.user
    }
  },
  data () {
    return {
      employees: [],
      error: null,
      newEmployee: {
        name: '',
        email: '',
        manager: false
      }
    }
  },
  watch: {
    employees () {
      this.$emit('listChanged', this.employees)
    }
  },
  methods: {
    onAddEmployee () {
      if (this.newEmployee.email === this.user.email) {
        this.$emit('showError', `You don't need to add yourself as an employee`)

        this.newEmployee = {
          name: '',
          email: '',
          manager: false
        }
        return
      }

      this.$emit('showError', null)

      const newEmployee = {
        ...this.newEmployee,
        organization: this.organization.name
      }

      this.employees.push(newEmployee)

      // this.$emit('employeeAdded', newEmployee)

      this.newEmployee = {
        name: '',
        email: '',
        manager: false
      }
    }
  }
}
</script>

<style>

</style>
