<template>
  <v-form ref="teamsForm">
    <v-container grid-list-xs pl-0>
      <v-layout row wrap>
        <v-chip 
          v-for="(team, index) in teams" 
          :key="index" 
          close 
          :class="`${team.color}`"
          @input="teams.splice(index, 1)">>
          {{ team.name }}
        </v-chip>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card tile class="transparent elevation-0">
            <v-card-text>
              <v-text-field label="Team name (e.g. Kitchen, Service, Bar, etc.)" v-model="newTeam.name" />
              <color-picker 
                :currentColor="newTeam.color"
                title="Pick a color for the team"
                @picked="onColorPicked"/>
              <v-btn color="success ml-0" @click="onAddTeam">Add Team</v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import ColorPicker from '@/components/ui/ColorPicker'
export default {
  name: 'addTeamsStep',
  components: {
    ColorPicker
  },
  data () {
    return {
      newTeam: {
        name: '',
        color: ''
      },
      teams: []
    }
  },
  watch: {
    teams () {
      this.$emit('listChanged', this.teams)
    }
  },
  methods: {
    onColorPicked (color) {
      this.newTeam.color = `${color} lighten-1`
    },
    onAddTeam () {
      this.teams.push(this.newTeam)
      this.newTeam = {
        name: '',
        color: ''
      }
    }
  }
}
</script>

<style>

</style>
