<template>
  <v-container grid-list-xs>
    <v-layout justify-center column align-center wrap>
      <template v-if="selectedPlan">
        <span class="headline"> Sign up now to the <span class="primary--text"> {{ selectedPlan.title }} </span> plan for {{ selectedPlan.price / 100 }} per month </span>
        <v-progress-circular v-if="loading" indeterminate color="success"></v-progress-circular>
        <v-btn v-else color="success" @click="checkout">Proceed With the payment </v-btn>
      </template>
      <template v-else>
        <span> It looks like you haven't selected any plan to sign up to </span>
        <h2> You can select your plan of choice by going <a :href="noPlanUrl" target="_blank"> here </a>  </h2>
      </template>
    </v-layout>
  </v-container>
</template>

<script>
import { subscribeUser } from '@/api/subscriptionService'

export default {
  name: 'paymentStep',
  props: {
    selectedPlan: Object
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    isDevelopment () {
      return process.env.NODE_ENV === 'development'
    },
    user () {
      return this.$store.getters.user
    },
    noPlanUrl () {
      if (this.isDevelopment) {
        return '//localhost:3000/#get-started'
      }

      return '//toorno.io/#get-started'
    }
  },
  methods: {
    checkout() {
      this.$checkout.open({
        name: this.selectedPlan.title,
        currency: 'EUR',
        email: this.user.email,
        amount: this.selectedPlan.price,
        token: (token) => {
          this.loading = true
          subscribeUser({plan: this.selectedPlan.slug, key: process.env.VUE_APP_STRIPE_SECRET, token})
            .then(() => {
              this.$store.dispatch('updateOrganization', {
                paymentComplete: true,
                selectedPlan: this.selectedPlan
              })
            })
            .then(() => {
              this.$emit('paymentCompleted')
            })
        } 
      });
    }
  }
}
</script>

<style>

</style>
