<template>
  <v-form autocomplete="off">
    <v-container grid-list-xs pl-0>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field v-model="name" label="Full name" @change="$emit('propChange', {name: name})"/>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-combobox
            v-model="country"
            :items="countries.map((c) => c.name)"
            label="Select a country from the list"
            class="country-select"
            @change="$emit('propChange', {country: country})"
          ></v-combobox>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field 
            v-model="email" 
            label="Email"
            @change="$emit('propChange', {email: email})"/>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import countries from '@/store/countries'

export default {
  name: 'personalInfoStep',
  props: {
    user: Object
  },
  data () {
    return {
      name: '',
      country: '',
      email: '',
      organization: '',
      search: '',
      countries
    }
  },
  mounted () {
    this.organization = this.user.organization
    this.email = this.user.email
    this.name = this.user.name
    this.country = this.user.country
  }
}
</script>

<style>
  .country-select .v-menu {
    position: absolute !important;
  }
</style>
