<template>
  <v-container grid-list-xs>
    <v-layout row>
      <v-flex xs12 md8 offset-md2>
        <v-alert :value="error != null" type="error">
          {{ error }}
        </v-alert>
        <v-stepper v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">Setup Payment Method</v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step :complete="e1 > 2" step="2">Personal Information</v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step :complete="e1 > 3" step="3">Add Employees</v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step step="4">Add Teams</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-stepper-content step="1">
              <payment-step 
                :selectedPlan="plans.find((plan) => plan.slug == selectedPlan)"
                @paymentCompleted="nextStep"/>
            </v-stepper-content>
            <v-stepper-content step="2">
              <personal-info-step 
                :user="user"
                @propChange="onPropChange"/>
            </v-stepper-content>
            <v-stepper-content step="3">
              <add-employees-step 
                :organization="organization" 
                @listChanged="onEmployeeAdded"
                @showError="(err) => error = err"/>
            </v-stepper-content>
            <v-stepper-content step="4">
              <add-teams-step @listChanged="onTeamAdded" />
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
        <template v-if="e1 !== 1">
          <v-btn color="primary" @click="nextStep">{{ cta }}</v-btn>
          <!-- <v-btn v-if="e1 !== 3 && e1!== 4" ref="skip" flat @click="nextStep">Skip for now</v-btn> -->
        </template>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { createInvitation } from '@/api/invitationService'
import ColorPicker from '@/components/ui/ColorPicker'
import PaymentStep from './PaymentStep'
import PersonalInfoStep from './PersonalInfoStep'
import AddEmployeesStep from './AddEmployeesStep'
import AddTeamsStep from './AddTeamsStep'

import plans from '@/store/plans.js'

export default {
  name: 'setup',
  components: {
    ColorPicker,
    PaymentStep,
    PersonalInfoStep,
    AddEmployeesStep,
    AddTeamsStep
  },
  data () {
    return {
      e: null,
      updatedUser: null,
      error: null,
      plans,
      cta: 'Next',
      employees: [],
      teams: []
    }
  },
  computed: {
    organization () {
      return this.$store.getters.organization
    },
    e1: {
      get () {
        if (this.e) {
          return this.e
        } else {
          if (this.organization && this.organization.paymentComplete) {
          return 2
        }
        return 1
        }
      },
      set (value) {
        this.e = value
        // return value
      }
    },
    selectedPlan () {
      return this.$route.query.plan
    },
    user () {
      return this.$store.getters.user
    }
  },
  mounted () {
    
  },
  methods: {
    onEmployeeAdded (employees) {
      this.employees = employees
      if (this.error) {
        this.error = null
      }
    },
    onTeamAdded (teams) {
      this.teams = teams
      if (this.error) {
        this.error = null
      }
    },
    nextStep () {
      switch (parseInt(this.e1)) {
        case 1:
          this.e1 = 2
          this.cta = 'Next'
          mixpanel.track('Step 3: user completed payment', { email: this.user.email, organization: this.user.organization })
          break
        case 2:
          this.e1 = 3
          this.cta = 'Next'
          mixpanel.track('Step 4: user filled personal information', { email: this.user.email, organization: this.user.organization })
          break
        case 3:
          if (this.employees.length > 0) {
            this.e1 = 4
            this.cta = 'Done'
            mixpanel.track('Step 5: user added employees', { email: this.user.email, organization: this.user.organization })
          } else {
            this.error = 'You need to add at least one employee'
          }      
          break
        case 4:
          if (this.teams.length > 0) {
            mixpanel.track('Step 6: user complted onboarding', { email: this.user.email, organization: this.user.organization })
            this.completeSetup()
          }
          else {
            this.error = 'You need to add at least one team'
          }
          break
      }
    },
    onPropChange (newProp) {
      if (this.updatedUser) {
        this.updatedUser = {
          ...this.updatedUser,
          ...newProp
        }
      } else {
        this.updatedUser = {
          ...this.user,
          ...newProp
        }
      }
    },
    completeSetup () {
      this.employees.forEach((employee) => {
        this.$store.dispatch('createEmployee', employee)
      })

      if (this.updatedUser) {
        this.$store.dispatch('updateUser', this.updatedUser)
      }

      this.$store.dispatch('updateOrganization', {
        teams: this.teams,
        setupComplete: true
      }).then(() => this.$router.replace('/?setupComplete=true'))
    }
  }
}
</script>

<style>

</style>
