<template>
  <v-container grid-list-xs>

    <v-toolbar flat class="transparent" color="white">
      <v-btn color="primary" @click="showAddEmployeeModal = true"> Add Employee </v-btn>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="employees"
      class="elevation-1">
      <template slot="items" slot-scope="props">
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.email }}</td>
      </template>
    </v-data-table>

    <add-employee-modal
      v-if="showAddEmployeeModal"
      :employees="employees"
      :sections="sections"
      @closed="showAddEmployeeModal = false"
      @employeeAdded="onAddEmployee"/>
  </v-container>
</template>

<script>
import AddEmployeeModal from '@/components/modals/addEmployeeModal/AddEmployeeModal'
import { createInvitation } from '@/api/invitationService'
export default {
  name: 'employees',
  components: {
    AddEmployeeModal
  },
  data () {
    return {
      showAddEmployeeModal: false,
      headers: [
        { text: 'Employee Name', align: 'left', sortable: true, value: 'employee' },
        { text: 'Employee Email', value: 'hours', align: 'left' },
      ]
    }
  },
  mounted () {
    console.log(mixpanel)
    mixpanel.track('test event')
  },
  computed: {
    employees () {
      return this.$store.getters.employees
    },
    sections () {
      return this.$store.getters.organization.sections
    }
  },
  methods: {
    onAddEmployee (newEmployee) {
      this.$store.dispatch('createEmployee', newEmployee)
      mixpanel.track('user has added an employee')
      this.showAddEmployeeModal = false
    },
    onEditButtonClick (employee) {

    },
    onDeleteButtonClick (employee) {

    }
  }
}
</script>

<style>

</style>
