<template>
  <v-container grid-list-xs>
    <v-toolbar flat class="transparent" color="white">
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="hourBankEntries"
      class="elevation-1"
      v-model="selected"
      item-key="id"
      select-all
      :search="search">
      <template slot="items" slot-scope="props">
        <td>
          <v-checkbox v-model="props.selected" primary hide-details />
        </td>
        <td>{{ props.item.employee.name }}</td>
        <td>{{ props.item.total / 60 }}</td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      selected: [],
      headers: [
        { text: 'Employee', align: 'left', sortable: true, value: 'employee' },
        { text: 'Monthly Hours', value: 'hours', align: 'left' },
      ]
    }
  },
  computed: {
    hourBankEntries () {
      return this.$store.getters.hoursBank
    }
  }
}
</script>

<style>

</style>
