<template>
  <v-container grid-list-xs>
    <v-toolbar flat class="transparent" color="white">
      <v-btn color="primary" @click="showCreateShiftModal = true"> Add Shift </v-btn>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="shifts"
      class="elevation-1"
      v-model="selected"
      item-key="id"
      select-all
      :search="search">
      <template slot="items" slot-scope="props">
        <td>
          <v-checkbox v-model="props.selected" primary hide-details />
        </td>
        <td>{{ props.item.employee.name }}</td>
        <td>{{ props.item.date }}</td>
        <td>{{ props.item.startTime }} - {{ props.item.endTime }}</td>
        <td>
          <v-chip :class="`${props.item.team.color}`"> {{ props.item.team.name }} </v-chip>
        </td>
        <td>{{ props.item.published ? 'Public' : 'Private' }}</td>
        <td>{{ props.item.employeeConfirmed ? 'Confirmed' : 'Not confirmed' }}</td>
        <td class="justify-space-around layout px-0">
          <v-tooltip top class="d-flex align-center">
            <span> Edit Shift </span>
            <v-icon slot="activator" small @click="onEditButtonClick(props.item)">
              edit
            </v-icon>
          </v-tooltip>
          <v-tooltip top class="d-flex align-center">
            <span> Delete Shift </span>
            <v-icon slot="activator" small @click="onDeleteButtonClick(props.item)">
              delete
            </v-icon>
          </v-tooltip>
          <v-tooltip top class="d-flex align-center">
            <span> {{ props.item.published ? 'Unpublish Shift' : 'Publish Shift'}} </span>
            <v-icon slot="activator" small @click="onPublishButtonClick(props.item)">
              far fa-paper-plane
            </v-icon>
          </v-tooltip>
        </td>
      </template>
    </v-data-table>

    <v-layout row wrap v-if="selected.length > 0">
      <v-flex xs12>
        <v-btn color="success" @click="showPublishShiftConfirmationModal = true"> Publish Selected </v-btn>
        <v-btn dark color="red" @click="showDeleteConfirmationModal = true"> Delete Selected </v-btn>
      </v-flex>
    </v-layout>

    <!-- Modals -->

    <create-shift-modal
      v-if="showCreateShiftModal"
      :sections="organization.teams"
      :employees="employees"
      @closed="showCreateShiftModal = false"
      @shiftCreated="onShiftCreated"/>

    <edit-shift-modal 
      v-if="showEditShiftModal"
      @closed="onEditShiftModalClosed"
      :selectedShift="selectedShift"
      :fromCalendar="false"/>

    <delete-confirmation-modal 
      v-if="showDeleteConfirmationModal"
      @closed="onDeleteShiftModalClosed"
      @confirm="onDeleteConfirm"/>
    
    <publish-shift-confirmation-modal 
      v-if="showPublishShiftConfirmationModal"
      :title="publishModalTitle"
      :subtitle="publishModalSubtitle"
      @closed="onPublishShiftModalClosed"
      @confirm="onPublishConfirmed"/>
  </v-container>
</template>

<script>
import CreateShiftModal from '@/components/modals/CreateShiftModal'
import EditShiftModal from '@/components/modals/editShiftModal/EditShiftModal'
import DeleteConfirmationModal from '@/components/modals/DeleteConfirmationModal'
import PublishShiftConfirmationModal from '@/components/modals/PublishShiftConfirmationModal'

import { sendShiftPublishedEmail } from '@/api/mailerService'

export default {
  name: 'adminShifts',
  components: {
    CreateShiftModal,
    EditShiftModal,
    DeleteConfirmationModal,
    PublishShiftConfirmationModal
  },
  data () {
    return {
      search: '',
      selected: [],
      selectedShift: null,
      showCreateShiftModal: false,
      showEditShiftModal: false,
      showDeleteConfirmationModal: false,
      showPublishShiftConfirmationModal: false,
      headers: [
        { text: 'Employee', align: 'left', sortable: true, value: 'employee' },
        { text: 'Date', value: 'date', align: 'left' },
        { text: 'Time', value: 'time', align: 'left' },
        { text: 'Team', value: 'team', align: 'left' },
        { text: 'Visibility', value: 'published', align: 'left' },
        { text: 'Confirmed by employee', value: 'employeeConfirmed', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false }
      ]
    }
  },
  computed: {
    organization () {
      return this.$store.getters.organization
    },
    employees () {
      return this.$store.getters.employees
    },
    shifts () {
      return this.$store.getters.shifts
    },
    publishModalTitle () {
      if (this.selectedShift) {
        return this.selectedShift.published ? 'Reject Shift' : 'Approve Shift'
      } else {
        return 'Publish Shifts'
      }
    },
    publishModalSubtitle () {
      if (this.selectedShift) {
        return this.selectedShift.published ? 'If you confirm then the shift won\'t be visible to your team' : 'If you confirm then the shift will be visible to your team'
      } else {
        return 'If you confirm then the selected shifts will be visible to your team'
      }
    }
  },
  methods: {
    onShiftCreated (shifts) {
      this.$store.dispatch('addShifts', shifts)
      this.showCreateShiftModal = false
    },
    onEditButtonClick (shift) {
      this.selectedShift = shift
      this.showEditShiftModal = true
    },
    onEditShiftModalClosed () {
      this.selectedShift = null,
      this.showEditShiftModal = false
    },
    onDeleteButtonClick (shift) {
      this.selectedShift = shift
      this.showDeleteConfirmationModal = true
    },
    onDeleteShiftModalClosed () {
      this.selectedShift = null,
      this.showDeleteConfirmationModal = false
    },
    onDeleteConfirm () {
      if (this.selectedShift) {
        this.$store.dispatch('deleteShift', this.selectedShift)
        this.selectedShift = null
      } else {
        this.selected.forEach(selected => this.$store.dispatch('deleteShift', selected))
        this.selected = []
      }
      
      this.showDeleteConfirmationModal = false
    },
    onPublishButtonClick (shift) {
      this.selectedShift = shift
      this.showPublishShiftConfirmationModal = true
    },
    onPublishConfirmed () {
      if (this.selectedShift) {
        const published = !this.selectedShift.published

        if (published) {
          console.log('Sending email...')
          sendShiftPublishedEmail(this.selectedShift.employee)
        }

        this.$store.dispatch('updateShift', {
          ...this.selectedShift,
          date: new Date(this.selectedShift.date),
          published
        })
        this.selectedShift = null
      } else {
        const updatedShifts = this.selected.filter((selected) => !selected.published)
          .map((selected) => ({
                ...selected,
                published: true,
                date: new Date(selected.date)
              }))

        console.log(updatedShifts)
        
        let employees = updatedShifts.map((shift) => shift.employee)
        employees = employees.filter((e, i) => employees.findIndex(a => a.email === e.email) === i);
        
        employees.forEach((employee) => {
          console.log(`Sending email to ${employee.name}...`)
          sendShiftPublishedEmail(employee)
        })

        updatedShifts.forEach((selected) => this.$store.dispatch('updateShift', selected))
      }
      this.showPublishShiftConfirmationModal = false
    },
    onPublishShiftModalClosed () {
      this.selectedShift = null
      this.showPublishShiftConfirmationModal = false
    }
  }
}
</script>

<style>

</style>
