<template>
  <v-container grid-list-xs>
    <v-toolbar flat class="transparent" color="white">
      <!-- <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search through the list"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer> -->
      <!-- <v-btn color="primary" dark class="mb-2">Add Vacation</v-btn> -->
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="vacations"
      class="elevation-1"
      v-model="selected"
      item-key="id"
      select-all
      :search="search">
      <template slot="items" slot-scope="props">
        <td>
          <v-checkbox v-model="props.selected" primary hide-details />
        </td>
        <td>{{ props.item.employee.name }}</td>
        <td>{{ props.item.date }}</td>
        <td>{{ props.item.time }}</td>
        <td>{{ props.item.confirmed ? 'Confirmed' : 'Not confirmed' }}</td>
        <td class="justify-space-around layout px-0">
          <v-tooltip top class="d-flex align-center">
            <span> Edit Vacation </span>
            <v-icon slot="activator" small @click="onEditButtonClick(props.item)">
              edit
            </v-icon>
          </v-tooltip>
          <v-tooltip top class="d-flex align-center">
            <span> Delete Vacation </span>
            <v-icon slot="activator" small @click="onDeleteButtonClick(props.item)">
              delete
            </v-icon>
          </v-tooltip>
          <v-tooltip top class="d-flex align-center">
            <span> {{ props.item.published ? 'Reject Vacation' : 'Confirm Vacation'}} </span>
            <v-icon slot="activator" small @click="onPublishButtonClick(props.item)">
              far fa-paper-plane
            </v-icon>
          </v-tooltip>
        </td>
      </template>
    </v-data-table>
    <v-layout row wrap v-if="selected.length > 0">
      <v-flex xs12>
        <v-btn color="success" @click="showPublishShiftConfirmationModal = true"> Approve All </v-btn>
        <v-btn dark color="red" @click="showDeleteConfirmationModal = true"> Delete All </v-btn>
      </v-flex>
    </v-layout>

    <!-- Modals -->
    <!-- <edit-shift-modal 
      v-if="showEditShiftModal"
      @closed="onEditShiftModalClosed"
      :selectedVacation="selectedVacation"
      :fromCalendar="false"/> -->

    <delete-confirmation-modal 
      v-if="showDeleteConfirmationModal"
      @closed="onDeleteShiftModalClosed"
      @confirm="onDeleteConfirm"/>
    
    <publish-shift-confirmation-modal 
      v-if="showPublishShiftConfirmationModal"
      :title="publishModalTitle"
      :subtitle="publishModalSubtitle"
      @closed="onPublishShiftModalClosed"
      @confirm="onPublishConfirmed"/>
  </v-container>
</template>

<script>
import EditShiftModal from '@/components/modals/editShiftModal/EditShiftModal'
import DeleteConfirmationModal from '@/components/modals/DeleteConfirmationModal'
import PublishShiftConfirmationModal from '@/components/modals/PublishShiftConfirmationModal'

export default {
  name: 'adminShifts',
  components: {
    EditShiftModal,
    DeleteConfirmationModal,
    PublishShiftConfirmationModal
  },
  data () {
    return {
      search: '',
      selected: [],
      selectedVacation: null,
      showEditShiftModal: false,
      showDeleteConfirmationModal: false,
      showPublishShiftConfirmationModal: false,
      headers: [
        { text: 'Employee', align: 'left', sortable: true, value: 'employee' },
        { text: 'Date', value: 'date', align: 'left' },
        { text: 'Time', value: 'time', align: 'left' },
        { text: 'Visibility', value: 'published', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false }
      ]
    }
  },
  computed: {
    vacations () {
      return this.$store.getters.vacations
    },
    publishModalTitle () {
      if (this.selectedVacation) {
        return this.selectedVacation.published ? 'Reject vacation' : 'Approve vacation'
      } else {
        return 'Approve Vacations'
      }
    },
    publishModalSubtitle () {
      if (this.selectedVacation) {
        return this.selectedVacation.published ? 'If you confirm then the vacation won\'t be factored in for the count' : 'If you confirm then the vacation will be approved and factored in for the count'
      } else {
        return 'If you confirm then the selected vacation requests will be approved and factored in for the count'
      }
    }
  }, 
  methods: {
    onEditButtonClick (shift) {
      this.selectedVacation = shift
      this.showEditShiftModal = true
    },
    onEditShiftModalClosed () {
      this.selectedVacation = null,
      this.showEditShiftModal = false
    },
    onDeleteButtonClick (shift) {
      this.selectedVacation = shift
      this.showDeleteConfirmationModal = true
    },
    onDeleteShiftModalClosed () {
      this.selectedVacation = null,
      this.showDeleteConfirmationModal = false
    },
    onDeleteConfirm () {
      if (this.selectedVacation) {
        this.$store.dispatch('deleteVacation', this.selectedVacation)
        this.selectedVacation = null
      } else {
        this.selected.forEach(selected => this.$store.dispatch('deleteVacation', selected))
        this.selected = []
      }
      this.showDeleteConfirmationModal = false
    },
    onPublishButtonClick (shift) {
      this.selectedVacation = shift
      this.showPublishShiftConfirmationModal = true
    },
    onPublishConfirmed () {
      if (this.selectedVacation) {
        const confirmed = !this.selectedVacation.confirmed
        this.$store.dispatch('updateVacation', {
          ...this.selectedVacation,
          date: new Date (this.selectedVacation.date),
          confirmed
        })
        this.selectedVacation = null
      } else {
        const updatedVacations = this.selected.map((selected) => ({
          ...selected,
          date: new Date(selected.date),
          confirmed: true
        }))
        updatedVacations.forEach((selected) => this.$store.dispatch('updateVacation', selected))
      }
      this.showPublishShiftConfirmationModal = false
    },
    onPublishShiftModalClosed () {
      this.selectedVacation = null
      this.showPublishShiftConfirmationModal = false
    }
  }
}
</script>

<style>

</style>
