<template>
    <v-container grid-list-md>
        <v-layout wrap>
            <v-flex xs12>
                <v-text-field
                    v-model="newStaff.address"
                    label="Address"
                    :rules="rules.name"
                    @input="$emit('staffUpdated', newStaff)">
                </v-text-field>
            </v-flex>
            <v-flex xs12>
                <v-text-field
                    label="Contract"
                    v-model="newStaff.contract"
                    :rules="rules.email"
                    @input="$emit('staffUpdated', newStaff)">
                </v-text-field>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
  props: {
    rules: Object
  },
  data () {
    return {
      newStaff: {
        address: '',
        contract: ''
      }
    }
  }
}
</script>

<style>

</style>
