<template>
    <v-container grid-list-md>
        <v-layout wrap>
            <v-flex xs12>
                <v-text-field
                    v-model="newStaff.name"
                    label="Name"
                    :rules="rules.name"
                    @input="$emit('staffUpdated', newStaff)">
                </v-text-field>
            </v-flex>
            <v-flex xs12>
                <v-text-field
                    label="Email"
                    v-model="newStaff.email"
                    :rules="rules.email"
                    @input="$emit('staffUpdated', newStaff)">
                </v-text-field>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
  props: {
    rules: Object
  },
  data () {
    return {
      newStaff: {
        name: '',
        email: ''
      }
    }
  }
}
</script>

<style>

</style>
