<template>
  <v-app>
    <side-drawer 
      :drawer="drawer"
      :items="items" 
      v-if="notSetup"
      @drawerClosed="drawer = false"
      @addVacation="showCreateVacationModal = true"/>
    <v-toolbar app dark clipped-left color="primary">
      <v-toolbar-side-icon v-if="isMobile" @click="drawer = true"/>
      <router-link to="/" tag="v-toolbar-title">
        <img height="25" src="./assets/logo.png" />
      </router-link>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <router-view></router-view>

      <create-vacation-modal
        v-if="showCreateVacationModal"
        @closed="showCreateVacationModal = false"
        :employees="employees"
        @vacationCreated="onVacationCreated"/>

      <video-modal
        v-if="showOnboardingVideo"
        :videoUrl="onboardingVideoUrl"
        @closed="videoModalDismissed = true"/>
    </v-content>
  </v-app>
</template>
<script>
import SideDrawer from '@/components/side_drawer/SideDrawer'
import CreateVacationModal from '@/components/modals/CreateVacationModal'
import VideoModal from '@/components/modals/VideoModal'

export default {
  name: 'VueApp',
  components: {
    SideDrawer,
    CreateVacationModal,
    VideoModal
  },
  data () {
    return {
      videoModalDismissed: false,
      drawer: true,
      showCreateVacationModal: false,
      onboardingVideoUrl: 'https://firebasestorage.googleapis.com/v0/b/toorno-6e34a.appspot.com/o/toorno%20onboarding.mp4?alt=media&token=f940226c-5a44-489e-a317-f889995a15cc'
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters.user
    },
    isMobile () {
      return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    },
    employees () {
      return this.$store.getters.employees || []
    },
    isAdmin () {
      if (this.currentUser) {
        return this.currentUser.admin || this.currentUser.manager
      }

      return false
    },
    items () {
      if (this.isAdmin) {
        return [
          {
            title: 'Calendar view',
            subtitle: 'Weekly overview',
            url: '/',
            icon: 'calendar_today'
          },
          {
            title: 'Manage employees',
            subtitle: 'e.g. Add/remove employees',
            url: '/employees',
            icon: 'people'
          },
          {
            title: 'Manage shifts',
            subtitle: 'e.g. Create, approve and delete Shifts',
            url: '/admin/shifts',
            icon: 'far fa-clock'
          },
          {
            title: 'Manage vacation requests',
            subtitle: 'e.g. View and approve vacations',
            url: '/admin/vacations',
            icon: 'local_airport'
          },
          {
            title: 'Monthly Hours Overview',
            subtitle: 'e.g. Check hours worked',
            url: '/admin/monthly_overview',
            icon: 'far fa-clock'
          }
        ]
      }

      return [
        {
          title: 'Calendar view',
          subtitle: 'Weekly overview',
          url: '/',
          icon: 'calendar_today'
        },
        {
          title: 'Submit vacation request',
          icon: 'local_airport',
          event: 'addVacation'
        },
        {
          title: 'Colleagues',
          url: '/admin/colleagues',
          icon: 'people'
        }
      ]
    },
    notSetup () {
      return !(this.$route.name === 'setup') && !(this.$route.name === 'login') && !(this.$route.name === 'signup') && !(this.$route.name === 'acceptInvitation')
    },
    showOnboardingVideo () {
      return (this.$route.query.setupComplete) && (this.$route.query.setupComplete === 'true') && !(this.videoModalDismissed)
    }
  },
  mounted() {
    if (this.isMobile) {
      this.drawer = false
    }
  },
}
</script>

<style>

html, body, .application {
  height: 100%;
}
.application--wrap{
  min-height: 100% !important;
}

.v-toolbar {
  z-index: 100;
}

.toolbar-dropdown {
  z-index: 11 !important;
}

.v-navigation-drawer{
  z-index: 12 !important;
}

.v-overlay{
  z-index: 11 !important;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
