<template>
  <v-container>
    <accept-invitation-modal v-if="invitedUser" :invitedUser="invitedUser" @confirm="onConfirm"/>
    
    <v-layout v-else row wrap>
      <v-flex xs12 md4 offset-md4>
        <v-card class="elevation-5">
          <v-card-text>
            <h2> Oh snap! </h2>
            <p> {{ error }} </p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn href="//toorno.io" color="success"> Go Back </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AcceptInvitationModal from '@/components/modals/AcceptInvitationModal'
export default {
  name: 'acceptInvitation',
  data () {
    return {
      invitedUser: null,
      error: ''
    }
  },
  components: {
    AcceptInvitationModal
  },
  computed: {
    user () {
      this.$store.getters.user
    }
  },
  watch: {
    user (value) {
      if (value) {
        this.$router.replace('/?first-login=true')
      }
    }
  },
  mounted () {
    this.$auth.retrieveInvitation(this.$route.params.id)
      .then((user) => this.invitedUser = user)
      .catch((error) => this.error = error.message)
  },
  methods: {
    onConfirm (user) {
      this.$auth.createAccountAfterInvitation(user)
    }
  }
}
</script>

<style>

</style>
