<template>
  <v-container grid-list-xs>
    <login-modal @confirm="onConfirm" :error="error"/>
  </v-container>
</template>

<script>
import LoginModal from '@/components/modals/LoginModal'
export default {
  components: {
    LoginModal
  },
  data () {
    return {
      error: null
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters.user
    }
  },
  watch: {
    currentUser (value) {
      if (value) {
        this.$router.replace('/')
      }
    }
  },
  methods: {
    onConfirm (user) {
      this.error = null
      console.log(user)
      this.$auth.login(user)
        .catch((err) => {
          const code = err.code

          if (code == 'auth/user-not-found'){
            this.error = 'Email/Password combination is not valid'
          }
        })
    }
  }
}
</script>

<style>

</style>
