<template>
  <signup-modal :error="error" @confirm="onConfirm"/>
</template>

<script>
import SignupModal from '@/components/modals/SignupModal'

export default {
  name: 'signup',
  components: {
    SignupModal
  },
  data () {
    return {
      error: null
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters.user
    },
    selectedPlan () {
      return this.$route.query.plan || null
    },
    url () {
      return this.selectedPlan? `/setup?plan=${this.selectedPlan}` : '/setup'
    }
  },
  watch: {
    currentUser (value) {
      if (value) {
        mixpanel.track('Step 2: user signed up', { email: value.email, organization: value.organization })
        this.$router.replace(this.url)
      }
    }
  },
  methods: {
    onConfirm (user) {
      this.error = null
      this.$auth.signup(user)
        .catch((err) => {
          const code = err.code
          if (code === 'auth/email-already-in-use') {
            this.error = 'There is already a user with this email address'
            console.log(this.error)
          }
        })
    }
  }
}
</script>

<style>

</style>
