<template>
  <v-card class="elevation-0">
    <v-card-title primary-title class="pl-0 pb-0 subheading" style="color: rgba(0,0,0,.54)">
      {{ title }}
    </v-card-title>
    <v-card-text class="pl-0">
      <v-btn 
        v-for="(color, index) in allColors" 
        :key="index"

        :class="`${color} lighten-1 color-picker-choice ma-1`"
        @click="onColorSelected(color)">
        <v-icon v-if="selectedColor && selectedColor == color" small>check</v-icon>
      </v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
import colors from 'vuetify/es5/util/colors'

export default {
  name: 'colorPicker',
  props: {
    currentColor: String,
    title: String
  },
  data () {
    return {
      selectedColor: null
    }
  },
  watch: {
    currentColor (value) {
      if (value.trim() == '') {
        this.selectedColor = null
      }
    }
  },
  computed: {
    allColors () {
      return Object.keys(colors).map((color) => color.replace(/([A-Z])/g, (g) => `-${g[0].toLowerCase()}`))
    }
  },
  methods: {
    onColorSelected (color) {
      this.selectedColor = color
      this.$emit('picked', color)
    }
  }
}
</script>

<style>
  .color-picker-choice{
    padding: 0 !important;
    height: 25px !important;
    min-width: 25px !important;
  }
</style>
