<template>
    <v-speed-dial
      class="bottom-right-speed-dial"
      v-model="dialOptions.fab"
      :top="dialOptions.top"
      :bottom="dialOptions.bottom"
      :right="dialOptions.right"
      :left="dialOptions.left"
      :direction="dialOptions.direction"
      :open-on-hover="dialOptions.hover"
      :transition="dialOptions.transition">
        <v-btn
          slot="activator"
          v-model="dialOptions.fab"
          color="blue darken-2"
          dark
          fab>
            <v-icon>add</v-icon>
            <v-icon>close</v-icon>
        </v-btn>
        <v-btn
          v-if="currentUser.admin || currentUser.manager"
          fab
          dark
          small
          @click="onButtonClick('createShift')"
          color="green">
            <v-icon>calendar_today</v-icon>
        </v-btn>
        <v-btn
          v-if="currentUser.admin || currentUser.manager"
          fab
          dark
          small
          @click="onButtonClick('addEmployee')"
          color="pink">
            <v-icon>person_add</v-icon>
        </v-btn>
        <v-btn
          fab
          dark
          small
          @click="onButtonClick('addVacation')"
          color="red darken-1">
            <v-icon>airplanemode_active</v-icon>
        </v-btn>
        
    </v-speed-dial>
</template>

<script>
export default {
  computed: {
    currentUser(){
      return this.$store.getters.user
    }
  },
  data(){
      return{
          dialOptions: {
            direction: 'top',
            fab: false,
            fling: false,
            hover: false,
            tabs: null,
            top: false,
            right: true,
            bottom: true,
            left: false,
            transition: 'slide-y-reverse-transition'
          }
      }
  },
  methods:{
    onButtonClick (event) {
      // Send click event to the parent along with the type of event
      this.$emit('click', event)
    }
  }
}
</script>

<style>
  .bottom-right-speed-dial{
    position: fixed !important;
    bottom: 50px;
    right: 30px;
    z-index: 100;
  }
</style>
