<template>
    <v-select
    :items="itemizedTime"
    v-model="displayTime"
    :rules="rules"
    :append-icon="null"
    prepend-icon="schedule"
    :label="options.placeholder"
    @change="() => $emit('timeChanged', displayTime)"
    ></v-select>
</template>

<script>
export default {
  data () {
    return {
      displayTime: ''
    }
  },
  props: {
    options: Object,
    rules: Array,
    time: {
      type: String,
      default: ''
    }
  },
  watch: {
    time (value) {
      console.log(value)
      if (value.trim().length > 0) {
        this.displayTime = this.time
      }
    }
  },
  computed: {
    itemizedTime () {
      const items = []
      const quarterHours = ['00', '30']
      const minTime = this.options.min_time || null
      let i
      let j
      for (minTime ? i = minTime.split(':')[0].replace('0', '') : i = 0; i < 24; i++) {
        for (minTime ? j = quarterHours.indexOf(minTime.split(':')[1]) : j = 0; j < 2; j++) {
          var time = i + ':' + quarterHours[j]
          if (i < 10) {
            time = '0' + time
          }
          items.push(time)
        }
      }
      return items
    }
  },
  mounted () {
  }
}
</script>

<style>

</style>
